@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

.text-logo {
  font-family: 'Merienda', cursive;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
  /* font-weight: 500; */
}

.font-space-mono {
  font-family: 'Space Mono', monospace;
}

.student-card {
  background: rgb(130, 34, 195);
  background: -moz-linear-gradient(
    146deg,
    rgba(130, 34, 195, 0.9822522759103641) 0%,
    rgba(253, 123, 45, 0.9486388305322129) 100%
  );
  background: -webkit-linear-gradient(
    146deg,
    rgba(130, 34, 195, 0.9822522759103641) 0%,
    rgba(253, 123, 45, 0.9486388305322129) 100%
  );
  background: linear-gradient(
    146deg,
    rgba(130, 34, 195, 0.9822522759103641) 0%,
    rgba(253, 123, 45, 0.9486388305322129) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8222c3",endColorstr="#fd7b2d",GradientType=1);
}

.announcements-container {
  max-height: 100vh;
  overflow-y: auto;
}

/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
